.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
p{
  color: #295859;
  font-family:sans-serif;
}
body {
    background-color:#F1F1F1;
}

.tweet{
margin-right: 10px;
}
